In [ ]:
--Create all titles by department
SELECT e.emp_no,
	   e.first_name,
	   e.last_name,
	   t.title,
	   t.from_date,
	   t.to_date,
 	   dp.dept_name
INTO current_titles_dept
FROM employees AS e
INNER JOIN titles AS t
	ON (e.emp_no = t.emp_no)
JOIN dept_emp AS de
	ON (e.emp_no = de.emp_no)
JOIN departments AS dp
  	ON (de.dept_no = dp.dept_no)
-- WHERE (e.birth_date BETWEEN '1952-01-01' AND '1955-12-31')
	WHERE (de.to_date = '9999-01-01')
ORDER BY e.emp_no ASC;

SELECT * FROM retirement_titles_dept

-- Use Dictinct with Orderby to remove duplicate rows
SELECT DISTINCT ON (emp_no) emp_no,
	first_name,
	last_name,
	title,
	dept_name
INTO unique_titles_dept
FROM current_titles_dept
ORDER BY emp_no, to_date DESC;

--All Titles
SELECT COUNT(title) AS "count", title, dept_name
INTO all_titles_dept
FROM unique_titles_dept
GROUP BY title, dept_name
ORDER BY "count" DESC;