In [ ]:
--Create retirement_titles
SELECT e.emp_no,
	   e.first_name,
	   e.last_name,
	   t.title,
	   t.from_date,
	   t.to_date
INTO retirement_titles_rev
FROM employees AS e
INNER JOIN titles AS t
	ON (e.emp_no = t.emp_no)
JOIN dept_emp AS de
	ON (e.emp_no = de.emp_no) 	
WHERE (e.birth_date BETWEEN '1952-01-01' AND '1955-12-31')
	AND (de.to_date = '9999-01-01')
ORDER BY e.emp_no ASC;

SELECT * FROM retiring_titles_rev

-- Use Distinct with Orderby to remove duplicate rows
SELECT DISTINCT ON (emp_no) emp_no,
	first_name,
	last_name,
	title
INTO unique_titles_rev
FROM retirement_titles_rev
ORDER BY emp_no, to_date DESC;

--Retiring Titles
SELECT COUNT(title) AS "count", title
INTO retiring_titles_rev
FROM unique_titles_rev
GROUP BY title
ORDER BY "count" DESC;