In [ ]:
-- title_compare
SELECT utd.emp_no,
	   utd.first_name,
	   utd.last_name,
	   utd.title AS total_title,
	   utr.title AS ret_title,
	   utd.dept_name AS total_dept,
	   utr.dept_name AS ret_dept
INTO title_compare
FROM unique_titles_dept AS utd
LEFT JOIN unique_titles_rev2 AS utr
	ON (utd.emp_no = utr.emp_no)
ORDER BY utd.emp_no ASC;