--7.3.6 Tailored Lists - Employee numbers, Employee first name Employee last name,Employee department name

SELECT e.emp_no,
	e.first_name,
	e.last_name,
	d.dept_name
INTO sales_list
FROM employees AS e
INNER JOIN dept_emp AS de
ON e.emp_no = de.emp_no
INNER JOIN departments AS d
ON de.dept_no = d.dept_no;

SELECT * FROM sales_list

--list of employees in both the Sales and Development departments
SELECT e.emp_no,
	e.first_name,
	e.last_name,
	d.dept_name
INTO sales_list2
FROM employees AS e
INNER JOIN dept_emp AS de
ON e.emp_no = de.emp_no
INNER JOIN departments AS d
ON de.dept_no = d.dept_no
	WHERE d.dept_no IN ('d007','d005');
	
SELECT * FROM sales_list2	
DROP TABLE sales_list2